.container {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: white;
    margin-top: 75px;
}

.input {
    width: 480px;
    align-content: center;
    padding-bottom: 25px;
}

.buttonSubmit {
    width: 100%;
    height: 38px;
    background-color: #423a6e;
    border-radius: 0px;
    position: absolute;
    margin-right: 5px;
    margin-top: 5px;
}

.buttonReset {
    width: 120px;
    height: 38px;
    background-color: #ebebeb;
    border-radius: 5px;
    position: absolute;
    margin-top: 4px;
    color: black;
    padding-bottom: 5px;
}

.inputAppend {
    height: 38px;
    margin-top: 7px;
}

.span {
    position: absolute;
    display: inline-block;
    height: 38px;
    width: 38px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #423a6e;
}

.icon {
    position: relative;
    color: white;
    margin-bottom: 2px;
}

.inputPrepend {
    height: 38px;
    margin-top: 8px;
    background-color: rgb(43, 185, 138);
}

.checkBoxes {
    vertical-align: bottom;
    margin-left: -8px;
    height: 11px;
}

.hr {
    position: absolute;
    background: black;
}

.col1 {
    width: 300px;
    margin-top: -10px;
}

.col2 {
    width: 233px;
    margin-top: 2px;
    margin-right: 45px;
}

.col3 {
    width: 960px;
}

.card1 {
    height: 220px;
    margin-left: 15px;
    text-align: left;
}

.card2 {
    text-align: left;
    margin-left: 10px;
}

.card3 {
    height: 200px;
    text-align: left;
    margin-left: 15px;
}

.card4 {
    height: 220px;
    margin-left: 15px;
}

.warning {
    color: red;
    font-weight: bold;
}

.row2 {
    align-content: flex-start;
}

.row3 {
    align-content: center;
}

.col4 {
    margin-bottom: -5px;
    margin-right: 1435px;
}

.col5 {
    align-content: center;
    margin-top: 45px;
}

.rowSearch {
    border-bottom: black solid 2px;
}

@media only screen and (max-width: 1531px) {
    .col3 {
        height: 65px;
        margin-left: 25px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1513px) {
    .input {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }
    .col3 {
        margin-top: 15px;
        height: 55px;
        margin-left: 12px;
    }
    .buttonReset {
        margin-left: 42px;
    }
}

@media only screen and (max-width: 571px) {
    .input {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }
    .card1 {
        margin-top: -22px;
        margin-left: -7px;
        text-align: left;
    }
    .col2 {
        margin-top: 5px;
    }
    .card2 {
        margin-top: 15px;
        margin-left: 25px;
    }
    .card3 {
        margin-left: 25px;
    }
    .col3 {
        margin-bottom: 45px;
        margin-left: -5px;
        margin-top: -5px;
    }
    .row2 {
        margin-top: -55px;
    }
    .col4 {
        margin-left: 25px;
    }
    .buttonReset {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 250px) {
    .input {
        margin-left: 0px;
        margin-right: 5px;
        width: auto;
    }
    .col3 {
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: -5px;
    }
    .col2 {
        margin-top: 45px;
    }
    .buttonReset {
        margin-left: 0px;
        margin-top: 48px;
    }
}