.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    width: auto;
}

.contactNav {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.contactNav a {
    color: red;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: flexbox;
}

.contactNav a:hover,
.contactNav a:active,
.contactNav a.active {
    /* color: #40A4C8; */
    color: rgb(0, 112, 192);
    /* border-right: 12px solid rgb(252, 242, 34); */
    border-right: 12px solid rgb(0, 112, 192);
}

@media (min-width: 600px) {
    .contactNav a {
        margin: 0;
        display: flex;
        flex-flow: column;
        height: 100%;
        /* width: auto; */
        align-items: center;
    }
    .contactNav a {
        color: white;
        /* color: rgb(252, 242, 34); */
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .contactNav a:hover,
    .contactNav a:active,
    .contactNav a.active {
        /* background-color: #8F5C2C; */
        background-color: rgb(48, 176, 199);
        /* border-bottom: 4px solid #40A4C8; */
        border-bottom: 4px solid rgb(0, 112, 192);
        border-right: none;
        /* color: white; */
        /* color: rgb(252, 242, 34); */
        color: #e3f2fd;
    }
}

@media (max-width: 600px) {
    .NavigationItems {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
        width: auto;
    }
}